body
{
scroll-behavior: smooth;
font-size: 18px;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
line-height: 170%;
background-color: #F5F5F5;

}

h1 
{
text-align: center;
font-size: 35px;
}

h2
{
text-align: center;
font-size: 30px;
}

h3
{
font-size: 28px;
/*text-align: center;*/
}

h4 
{
text-align: center;
font-size: 25px;
}

h5 
{
font-size: 22px;
margin-top: 0px;
margin-bottom: -5px;
}

p
{
font-size: 18px;
}

.container 
{
margin: auto;
width: 90%;
max-width: 900px;
padding: 25px;
border: 10px
dislay: grid;
padding-top: 100px;
}

.image
{
display: block;
max-height: 400px;
margin-left: auto;
margin-right: auto;
}

.mainfoot
{
	
	text-align: center;
	border-top: 1px solid black;
}

.noncenter
{
	text-align: left;
}