body
{
scroll-behavior: smooth;
font-size: 18px;
}

h1 
{
text-align: center;
font-size: 37px;
}

h2
{
text-align: center;
font-size: 32px;
border-bottom: 1px solid black;
}

h3
{
font-size: 28px;
text-align: center;
border-bottom: 1px solid black;
}

h4 
{
text-align: center;
font-size: 25px;
border-bottom: 1px solid black;
}

h5 
{
font-size: 22px;
margin-top: 0px;
margin-bottom: -5px;
}

p
{
font-size: 18px;
}

.container 
{
margin: auto;
width: 90%;
max-width: 1000px;
padding: 25px;
border: 10px
dislay: grid;
}